input {
    font-size: 1.5rem;
    max-width: 2.1rem;
}

.container {
    display: flex;
    flex-direction: row;
}

div {

    &.increments{ 
        font-size: 2rem;
        width: 2rem;
        height: 2rem;

        &.plus {
            background-color: green;
        }

        &.minus {
            background-color: red;
        }
    }
}
