/* You can add global styles to this file, and also import other style files */

html {
    //This defines what 1 rem is. 
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding-left: 10rem;
    padding-right: 10rem;
}
